@charset "utf-8";
#service_page :not(INPUT):not(TEXTAREA) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.ui-overlay-a, .ui-page-theme-a { background-color: #FFF; }
hr {
        border:none;
        background-color: #DDD;
        text-align:left;
        clear: both;
}
#header {
        background-color: #dce1cd;
        border: 1px solid #ccc;
}
#header hr {
        border: 1px solid #ccc;
        clear: both;
}
.listview { clear: both; }
.listview a { padding: 0px; background-color: #F6F6F6; }
.listview p {
        display: block !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-shadow: none;
        font-style: normal;
        font-family: "돋움", "Arial Unicode MS";
        color: #444;
        font-size: inherit !important;
}
.ui-page-theme-a .ui-btn.ui-btn-active { background-color: #F6F6F6; border-color: #DDD;}
.ui-page-theme-a .ui-btn:focus { box-shadow: none; }

.listview .line_title { float: left; }
.listview .line_title p {
        padding-left: 0.3em;
        line-height: 2em;
}
.listview .line_status { float: right; display: table; }
.listview .line_status p { line-height: 2em; }
.listview .line_status span { display: table-cell;      vertical-align: middle; }
.listview .line_status img {
        height: 1em;
        width: 1em;
        padding-top: 0.3em;
        padding-right: 0.3em;
}
.listview .line_value { clear: both; height: 1.5em; }
.listview .line_value p { padding-left: 0.3em; color: #888; }
#right_main, #right_sub {
        clear: both;
        margin-bottom: 10px;
        overflow: auto;
}
.lc_left {
        display: table;
        float: left;
        line-height: 2.5em;
        height: 2.5em;
        margin-top: 2px;
        width: 7.5em;
}

#right_main .lc_left span {
        display: table-cell;
        vertical-align: middle;
        width: 0.7em;
}
#right_main .lc_left span img {
        height: 5px;
        width: 5px;
        margin-bottom: 0.2em;
}
#right_main .lc_row { clear: both; overflow : hidden; }

.lc_right {
        float: left;
        width: 16.5em;
        overflow: hidden;
}
.lc_right_ipdisk { width: 16em; }

#right_main .value p { width: 50px; }
#right_main #desc p,
#right_sub #desc p { color: #777; line-height: 1.5em; }
#right_sub #desc .title { margin-bottom: 5px; }

.custom_css_button {
        width: 6em;
        height: 2.5em;
        float: right;
}

/*local css*/
#header_content_theme1 hr:first-child,
#maincontent hr:last-child { height:0px;}
#maincontent {background-color:#F9FAF5;}
#maincontent .lc_grayfont_text{color:#777; text-overflow:ellipsis; white-space:normal;} 
#maincontent .lc_whitebox_div{width:100%; border:0; background-color:#FFFFFF; padding:.5em .5em .5em 0;}
#maincontent .lc_greenbox_div{width:100%; border:0; background-color:#F9FAF5; padding:.5em .5em .5em 0;}

#maincontent .lc_line_div {line-height:1.7em; height:2.7em; width:100%;}
#maincontent .lc_line_div img {width:1em; height:1em; margin-top:.3em;}
#maincontent .lc_line_div >div input{ width:4.5em; padding-top: 0.1em; }
#maincontent .lc_line_div:nth-child(even) { background-color:#FFFFFF;}
#maincontent .lc_line_div:nth-child(odd) { background-color:#F9FAF5;}

#maincontent .lc_titlebox_div { width:100%; overflow:hidden; border:1px solid #ccc; background-color:#EEEFE5; height:2.5em; }

#maincontent .lc_caution_div,
#maincontent >div .lc_option_div,
#maincontent .lc_ctrl_div .lc_line_div .lc_desc_div,
#maincontent .lc_titlebox_div p { margin-left:0.5em; margin-top: 0.2em; }

#maincontent .lc_ctrl_div,
#maincontent .lc_timeout_div {font-size:0.9em;}

#maincontent .lc_line_div { overflow:hidden;}
#maincontent .lc_ctrl_div .lc_line_div div,
#maincontent .lc_ctrl_div .lc_caution_div img,
#maincontent .lc_timeout_div .lc_line_div .lc_left_div,
#maincontent .lc_timeout_div .lc_line_div .lc_left_div .lc_option_div,
#maincontent .lc_timeout_div .lc_line_div .lc_left_div .lc_input_div div,
#maincontent .lc_timeout_div .lc_line_div .lc_right_div .lc_option_div,
#maincontent .lc_input_div p,
#maincontent .lc_timeout_div .lc_line_div .lc_right_div .lc_input_div div { float : left;}
#maincontent .lc_timeout_div .lc_line_div .lc_left_div .lc_input_div,
#maincontent .lc_timeout_div .lc_line_div .lc_right_div,
#maincontent .lc_timeout_div .lc_line_div .lc_right_div .lc_input_div { float : right;}
#maincontent .lc_timeout_div .lc_line_div .lc_left_div { width : 50%;}
#maincontent .lc_timeout_div .lc_line_div .lc_right_div { width : 45%;}

#maincontent .lc_ctrl_div .lc_line_div .lc_option_div { width:12em;}

#maincontent .lc_caution_div p { text-indent:-1em; padding-left:1em;}
#maincontent >div:first-child,
#maincontent .lc_timeout_div:first-child { padding-top:0.2em;}
#maincontent >div .lc_line_div >div { padding-top:0.25em;}
#maincontent >div .lc_line_div >div p {padding-left:0.2em; margin-top: 0.2em; }
#maincontent .lc_ctrl_div .lc_caution_div { padding-bottom:0.5em;}

#maincontent .lc_timeout_div .lc_line_div .lc_right_div { margin-right:0.5em;}

#maincontent .lc_titlebox_div p { position:relative; top:0.5em;}
#maincontent .lc_button_div { position:relative; bottom:0.25em;}

#maincontent .lc_ctrl_div .lc_caution_div img { width:1em; padding-top:0.2em; padding-right:0.2em;}

#maincontent .lc_submit_button { margin-right:1em; margin-left:0.5em;}

#left_panel hr { height: 0; }
