@charset "utf-8";
#service_page :not(INPUT):not(TEXTAREA) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.ui-overlay-a, .ui-page-theme-a { background-color: #FFF; }
hr {
        border:none;
        background-color: #DDD;
        text-align:left;
        clear: both;
}
#header {
        background-color: #dce1cd;
        border: 1px solid #ccc;
}
#header hr {
        border: 1px solid #ccc;
        clear: both;
}
.listview { clear: both; }
.listview a { padding: 0px; background-color: #F6F6F6; }
.listview p {
        display: block !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-shadow: none;
        font-style: normal;
        font-family: "돋움", "Arial Unicode MS";
        color: #444;
        font-size: inherit !important;
}
.ui-page-theme-a .ui-btn.ui-btn-active { background-color: #F6F6F6; border-color: #DDD;}
.ui-page-theme-a .ui-btn:focus { box-shadow: none; }

.listview .line_title { float: left; }
.listview .line_title p {
        padding-left: 0.3em;
        line-height: 2em;
}
.listview .line_status { float: right; display: table; }
.listview .line_status p { line-height: 2em; }
.listview .line_status span { display: table-cell;      vertical-align: middle; }
.listview .line_status img {
        height: 1em;
        width: 1em;
        padding-top: 0.3em;
        padding-right: 0.3em;
}
.listview .line_value { clear: both; height: 1.5em; }
.listview .line_value p { padding-left: 0.3em; color: #888; }
#right_main, #right_sub {
        clear: both;
        margin-bottom: 10px;
        overflow: auto;
}
.lc_left {
        display: table;
        float: left;
        line-height: 2.5em;
        height: 2.5em;
        margin-top: 2px;
        width: 6.5em;
	//overflow: hidden;
}

#right_main .lc_left span {
        display: table-cell;
        vertical-align: middle;
        width: 0.7em;
}
#right_main .lc_left span img {
        height: 5px;
        width: 5px;
        margin-bottom: 0.2em;
}
#right_main .lc_row { clear: both; overflow : hidden; }

.lc_right {
        float: left;
        width: 17.5em;
        overflow: hidden;
}
.lc_right_ipdisk { width: 16em; }

#right_main .value p { width: 50px; }
#right_main #desc p,
#right_sub #desc p {color: #777; line-height: 1.5em; }
#right_sub #desc .title { margin-bottom: 5px; }

.custom_css_button {
        width: 6em;
        height: 2em;
        float: right;
	margin-top: 0.25em;
}

/*local css*/
.lc_text_desc {font-size:0.80em;}


.lc_dmztwinip_desc {height:2.3em; margin-top:0.3em; height:inherit;}
#dmz_sub_label { height:2em !important;}

.hyphen { width : 0.3em; margin:0.5em 0 0 0;}
.lc_inner_ip { float:left;}
.lc_inner_ip div,
.lc_input_mac div { display:inline-block; float:left;}
.lc_inputbox_ip input {text-align : center; margin:0; padding:0; width:3.5em;}
.lc_inputbox_mac { width : 2.1em;}
.lc_inputbox_mac input {text-align : center; padding: 0; }

.ip_update_1 { width : 23%; display:inline-block;}

#maclist_field {width: 81%; float:left; display:none; padding-top : 1.6%;}
#maclist_field >* {font-size:smaller;}
#mac_search_button { float:left;}
.lc_manual_macsearch { padding-top:0.15em; padding-left:0.4em; cursor:pointer;}
#right_panel .lc_manual_macsearch img { width: 1.8em; height: 1.8em; }
#dmztwinip .lc_right { margin-top : 0.2em; padding-bottom:0.1em;}
#dmz_selected ::after,
#twinip_selected ::after { top:1.2em; left: 0; }

.lc_natonoff_subtitle { width:8.5em !important;}


.ftp_row_newport { background-color:#F9FAF5;, border-bottom: 1px solid #ddd !important; border-top : 1px solid #ddd;}
.lc_ftp_subtitle { width : 45%; display:inline-block; float:left; padding-top:0.6em; padding-left:0.5em; }
.lc_ftp_portText { width : 25%; display:inline-block; padding-left : 0.5em; padding-top:0.2em;}
.lc_ftp_add {float:right;}

.lc_ftp_delete { padding-top: 0.5em;}
.lc_ftp_minus { background-color:black; color:white; float:right; }
.lc_ftp_dText { color:black; float:right;}
.lc_ftp_deleteButton { outline : none; background:inherit; border: none; float:right;}
.lc_ftp_index { width:1em; display:inline-block; float:left;}
.lc_ftp_port { width : 60%; display: inline-block; width:7em; padding-top:0.15em;}
#ftp_port_list { list-style-type : decimal; list-style-position:inside;}
//#ftp_port_list button { padding-right : 0.5em;}
#ftp_port_list li { overflow:hidden; height:auto; list-style:inherit; padding-left : 0.5em;}

//.lc_row:nth-child(even) { background-color: "#FFFFFF" !important;}
//.lc_row:nth-child(odd) { background-color: "#F9FAF5" !important;}

.delete_button_label { height : 2em; float:right; padding-right:0.5em;}
.delete_button_label input { margin: 0.5em 0.5em 0 0;}
.delete_button_label img { margin: 0.7em 0.5em 0 0;}

#dmz_selected label,
#twinip_selected label { padding-left:2.5em;}
#pppoe .lc_left {margin-right:1em;}

#list_popup li p { margin: 1em; }
.lc_onoffline_left{display:inline-block !important; width:70%;}
.lc_onoffline_right{display:inline-block !important; padding:.7em 1em 0 0;}


#maincontent >ul { border-bottom: 1px solid #CCC; }
