a:link { text-decoration:none; color:#000000; }
a:visited { text-decoration:none;color:#000000;}
a:hover { text-decoration:underline; color:#000000; }

.noborder { border:0px; margin:0px 0px 0px 0px; }
.maintable { margin-top:15; margin-right:10; margin-bottom:10; margin-left:10; width: 670px }
.content_table { border-collapse:collapse; }
.subtitle_td { padding-top: 2px; padding-bottom: 0px; padding-left: 20px; padding-right: 20px; }
.subtitle_text { color:#ffffff; font-size:12px; font-weight:bold; }
.itemdesc_td { padding-top: 4px; padding-bottom: 2px; padding-left: 20px; padding-right: 20px; background-color=#e7e7e7; border:1px solid #
cccccc;
 }
.item_td { padding-top: 4px; padding-bottom: 2px; padding-left: 20px; padding-right: 20px; background-color=#FFFFFF; border:1px solid #cccc
cc; }
.itemdesc_td2 { padding-top: 4px; padding-bottom: 2px; padding-left: 10px; padding-right: 10px; background-color=#e7e7e7; border:1px solid 
#cccccc
; }
.item_td2 { padding-top: 4px; padding-bottom: 2px; padding-left: 10px; padding-right: 10px; background-color=#FFFFFF; border:1px solid #ccc
ccc; }
.wizardtable_td { padding: 20px 10px; background-color=#FFFFFF; border:1px solid #cccccc; }
.wizardtop_td { padding-top: 10px; padding-bottom: 2px; padding-left: 20px; padding-right: 20px; background-color=#FFFFFF; border:1px solid
 #ccccc
c; }
.wizardbody_td { padding: 10px 20px; background-color=#ECE9D8; border:1px solid #cccccc; }
.wizardbottom_td { padding-top: 8px 20px; background-color=#ECE9D8; border:1px solid #cccccc; }
.login_td { padding-left: 10px; padding-right: 10px; background-color=#F6F4EA; border-right:2px solid #000000; border-left:1px solid #ccccc
c; bord
er-bottom:2px solid #000000; border-top:1px solid #cccccc; }
.black_td { background-color=#000000; border:1px solid #cccccc; }
.conn_td { padding-top: 4px; padding-bottom: 2px; padding-left: 20px; padding-right: 20px; background-color=#ECE9D8; border:1px solid #cccc
cc; }

.wizard_text { font-size:9pt; color:#000000; }
.itemdesc_text { font-size:10pt; color:#000000; }
.item_text { font-size:10pt; color:#000000; }
.listbox { border:1px solid #cccccc; background-color: #ffffff; }
.listbox_title { border:1px solid #cccccc; background-color: #e7e7e7; }
.smenu_text { font-size:12px; color:#114477; }
.ssmenu_text { font-size:12px; color:#444444; font-weight:bold; }
.srmenu_text { font-size:12px; color:#ffffff;  }
.tmenu_fgtext { font-size:12px; color:#222222; font-weight:bold; }
.tmenu_bgtext { font-size:12px; color:#666666; }

.main_screen { background-color:#BDABE7; border-collapse:collapse; }
.item_string { font: normal normal normal 12px arial; color:#000000; }
.warning_string { font: normal normal bold 9pt arial; color:#ff0000 }
.upgrade_table { margin-top:15; margin-right:10; margin-bottom:10; margin-left:10; width: 500px; border:1px solid #cccccc; height:200px; }

.help_table { border-collapse:collapse; width:670px; border: 0px solid #ffffff; }
.help_title_td { background-color:#666666; width:500px; padding: 4px 10px; height=30px; }
.help_lefttitle_td { background-color:#000000; width:170px;padding: 4px 10px; height=30px; }
.help_title_string { font:normal normal bold 10pt arial; color:#ffffff; }
.help_leftbody_td { padding: 10px; 20px; background-color=#ffffff; border:0px solid #cccccc; vertical-align:top; }
.help_body_td { padding: 10px; 20px; background-color=#ECE9D8; border:0px solid #cccccc; vertical-align:top; }
.help_bottom_td { padding: 8px 20px; background-color=#bDbBc7; border:0px solid #cccccc; height=40px; }

