[Unit]
Description=CUPS Scheduler

[Socket]
ListenStream=/var/run/cups/cups.sock
ListenStream=[::1]:631
ListenStream=127.0.0.1:631
BindIPv6Only=ipv6-only
ReusePort=true

[Install]
WantedBy=sockets.target
